*
	margin: 0
	box-sizing: border-box

body
	// font-family: 'Inter', sans-serif
	background-color: hsl(30, 54%, 90%)
	min-height: 100vh
	align-content: center
	// padding: 125px auto

.recipe
	margin: auto
	padding: 43px
	width: 739px
	background-color: white
	border-radius: 20px
	font-size: 16px
	img
		height: 100%
		width: 100%
		border-radius: 10px
	&__title
		margin-top: 43px
	&__descr
		margin-top: 34px
.preparation
	margin-top: 36px
	padding: 27px
	background-color: hsl(330, 100%, 98%)
	border-radius: 10px
